<div class="container">
    <div class="jumbotron">
        <h2>Mesa Places</h2>
        <h2>Redefinir Senha</h2>
    </div>
    <form class="form-signin" role="form" ng-submit="ctrl.resetPassword(ctrl.user)">
        <div class="form-success" ng-if="ctrl.isResetSuccess">Um e-mail foi enviado para você com as instruções para recuperar sua senha.</div>
        <div class="form-error" ng-if="ctrl.isResetError">Não foi possível recuperar a senha.</div>
        <input
            type="email"
            ng-model="ctrl.user.email"
            class="form-control resetpassword"
            placeholder="Digite o e-mail da sua conta" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Redefinir senha</button>
    </form>
    <div class="jumbotron">
        <hr>
        Lembrou sua senha? <a ui-sref="login">Entrar</a>
    </div>
</div>