<div class="container-fluid">
	<div class="row" style="padding: 10px">
		<div class="col-lg-12">
			<div class="success-message" ng-if="ctrl.editProfileSuccess">Perfil atualizado com sucesso!</div>
			<div class="error-message" ng-if="ctrl.editProfileError">{{ctrl.errorMessage}}</div>
			<div class="row" ng-show="!ctrl.isEditProfile">
				<div style="font-size: 24px">{{ctrl.currentUser.name}}</div>
				<span style="color: #aaa">{{ctrl.currentUser.email}}</span>
				<br><button ng-click="ctrl.editProfile()" style="margin-top: 10px" class="btn btn-primary">Editar Dados</button>
			</div>
			<div class="row" ng-show="ctrl.isEditProfile">
				Nome: <input type="text" class="form-control" name="name" ng-model="ctrl.editUser.name"><br>
				E-mail: <input type="email" class="form-control" name="email" ng-model="ctrl.editUser.email"><br>
				<button ng-click="ctrl.saveProfile(ctrl.editUser)" style="margin-top: 10px" class="btn btn-primary">Atualizar Dados</button>
			</div>
		</div>
	</div>
</div>