<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="error-message" ng-if="ctrl.showErrorMessage">{{ctrl.errorMessage}}</div>
			<div class="success-message" ng-if="ctrl.showSuccessMessage">{{ctrl.successMessage}}</div>
		</div>
	</div>
	<div class="row loading" ng-show="ctrl.showLoading">
		<h2>Carregando...</h2>
	</div>
	<div class="row" ng-show="ctrl.bookmarks">
		<div class="col-lg-6" style="padding: 10px">
			<div
				ng-class="{'current-bookmark': bookmark == ctrl.currentBookmark}"
				class="row"
				ng-repeat="bookmark in ctrl.bookmarks"
				ng-click="ctrl.setCurrentBookmark(bookmark)" style="margin: 0 10px; padding: 10px">

				<div style="font-size: 24px">{{bookmark.place.name}}</div>
				<span style="color: #aaa">{{bookmark.place.vicinity}}</span>
				<hr>
			</div>
		</div>
		<div class="col-lg-6" style="padding: 10px">
			<div class="row" ng-show="ctrl.currentBookmark">
				<h4>Deixe sua avaliação</h4>
				<form ng-submit="ctrl.saveNewRating(ctrl.newRating)">
					Nota:
					<span ng-repeat="i in [1, 2, 3, 4, 5]"><input type="radio" required ng-model="ctrl.newRating.grade" name="grade" ng-value="i"> {{i}}&nbsp;&nbsp;&nbsp;</span>
					<br>
					Comentário:
					<textarea class="form-control" required ng-model="ctrl.newRating.comments" rows="3"></textarea>
					<br>
					<button class="btn btn-primary btn-block" type="submit">Avaliar</button>
				</form>
				<hr>
			</div>
			<div class="row" ng-repeat="rating in ctrl.currentBookmark.place.ratings">
				<div style="font-size: 16px">{{rating.user.name}}</div>
				<span style="color: #aaa">
					Nota: {{rating.grade}}
					<br> {{rating.comments}}
				</span>
				<hr>
			</div>
		</div>
	</div>
</div>