<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6" style="padding: 10px">
			<div
				ng-class="{'current-place': place == ctrl.currentPlace}"
				class="row"
				ng-repeat="place in ctrl.places"
				ng-click="ctrl.setCurrentPlace(place)" style="margin: 0 10px; padding: 10px">

				<div style="font-size: 24px">{{place.name}}</div>
				<span style="color: #aaa">Av. 17 de Agosto, 2391 - Casa Forte, Recife/PE</span>
				<hr>
			</div>
		</div>
		<div class="col-lg-6" style="padding: 10px">
			<div class="row" ng-show="ctrl.currentPlace">
				<h4>Deixe sua avaliação</h4>
				Nota:
				<span ng-repeat="i in [1, 2, 3, 4, 5]"><input type="radio" ng-model="ctrl.newRating.grade" name="grade" ng-value="i"> {{i}}</span>
				<br>
				Comentário:
				<textarea class="form-control" ng-model="ctrl.newRating.comments" rows="3"></textarea>
				<br>
				<button class="btn btn-primary btn-block" ng-click="ctrl.saveNewRating(ctrl.newRating)">Avaliar</button>
				<hr>
			</div>
			<div class="row" ng-repeat="rating in ctrl.currentPlace.ratings">
				<div style="font-size: 16px">{{rating.name}}</div>
				<span style="color: #aaa">
					Nota: {{rating.grade}}
					<br> {{rating.comments}}
				</span>
				<hr>
			</div>
		</div>
	</div>
</div>